{{!< default}}

{{> index-meta}}

<section class="wrapper">
    <div class="container">
        <header>
            <h1 class="title">{{@blog.title}}</h1>
            <h2 class="caption">{{@blog.description}}</h2>
        </header>
    </div>
</section>

{{> excerpts}}
